flows (2).json
[
    {
        "id": "fa53fa3b.74b8a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a650b5e.3db948",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eb9d2f80.ac871",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "c644bb54.8486f8",
        "type": "ui_group",
        "z": "",
        "name": "Climate",
        "tab": "e2d29399.a553d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e2d29399.a553d",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "302ff239.f5f80e",
        "type": "ui_group",
        "z": "",
        "name": "Home",
        "tab": "e2d29399.a553d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e0e45ebf.0094a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Gill Sans,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#0000ff",
                "baseFont": "Georgia,Georgia,serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "Gill Sans,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e86434c1.e08dd8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c644bb54.8486f8",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "41de2eae.e424c",
        "type": "ui_group",
        "z": "",
        "name": "Sensor",
        "tab": "a3c50a74.b4d2e8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e740c07c.48686",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "e2d29399.a553d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7548002f.ad22a",
        "type": "ui_tab",
        "z": "",
        "name": "motor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3eb337a6.6b9fa8",
        "type": "ui_group",
        "z": "",
        "name": "motor",
        "tab": "7548002f.ad22a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a3c50a74.b4d2e8",
        "type": "ui_tab",
        "z": "",
        "name": "Iot Sensor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b7967c5d.44556",
        "type": "ibmiot in",
        "z": "fa53fa3b.74b8a8",
        "authentication": "apiKey",
        "apiKey": "eb9d2f80.ac871",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "warriorking",
        "applicationId": "",
        "deviceType": "iotdevice12",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT input",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "6ef76537.cabf7c",
                "da5da9b7.50f488",
                "13502950.e22f27"
            ]
        ]
    },
    {
        "id": "b79b9cac.baefc",
        "type": "ibmiot out",
        "z": "fa53fa3b.74b8a8",
        "authentication": "apiKey",
        "apiKey": "eb9d2f80.ac871",
        "outputType": "cmd",
        "deviceId": "motor",
        "deviceType": "iotdevice13",
        "eventCommandType": "command",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT output",
        "service": "registered",
        "x": 440,
        "y": 480,
        "wires": []
    },
    {
        "id": "6ef76537.cabf7c",
        "type": "function",
        "z": "fa53fa3b.74b8a8",
        "name": "temperature",
        "func": "msg.payload=msg.payload.d.temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "663c6cb4.af8104",
                "85ad9fd.29bcb6"
            ]
        ]
    },
    {
        "id": "da5da9b7.50f488",
        "type": "function",
        "z": "fa53fa3b.74b8a8",
        "name": "humidity",
        "func": "msg.payload=msg.payload.d.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "443c43f1.35216c",
                "85ad9fd.29bcb6"
            ]
        ]
    },
    {
        "id": "13502950.e22f27",
        "type": "function",
        "z": "fa53fa3b.74b8a8",
        "name": "soil moisture",
        "func": "msg.payload=msg.payload.d.objectTemp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "a94cd316.f08db",
                "85ad9fd.29bcb6"
            ]
        ]
    },
    {
        "id": "663c6cb4.af8104",
        "type": "ui_gauge",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "group": "41de2eae.e424c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "Degree Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "443c43f1.35216c",
        "type": "ui_gauge",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "group": "41de2eae.e424c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "a94cd316.f08db",
        "type": "ui_gauge",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "group": "41de2eae.e424c",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Soil moisture",
        "label": "bars",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "66caf231.c22a4c",
        "type": "ui_button",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "group": "3eb337a6.6b9fa8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Motor on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"Motor on\"}",
        "payloadType": "json",
        "topic": "",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "b79b9cac.baefc",
                "71323624.ced6e8"
            ]
        ]
    },
    {
        "id": "b86b966b.e3c3c8",
        "type": "ui_button",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "group": "3eb337a6.6b9fa8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Motor off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"Motor off\"}",
        "payloadType": "json",
        "topic": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "b79b9cac.baefc",
                "71323624.ced6e8"
            ]
        ]
    },
    {
        "id": "53d73cd2.840514",
        "type": "ui_gauge",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "group": "c644bb54.8486f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "humidity ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#1298a3",
            "#173cce",
            "#3964c8"
        ],
        "seg1": "",
        "seg2": "",
        "x": 640,
        "y": 1000,
        "wires": []
    },
    {
        "id": "40ef4898.6330e8",
        "type": "change",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "53d73cd2.840514"
            ]
        ]
    },
    {
        "id": "28375876.f61418",
        "type": "http request",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://api.openweathermap.org/data/2.5/weather?q=Pune,IN&units=metric&appid=26e2953d30604a9b8362d09cab0e68e3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 647,
        "wires": [
            [
                "88de9bc0.849fe8",
                "8cd3a258.e78fd",
                "578341c4.072ab",
                "df9dd89c.423018",
                "40ef4898.6330e8",
                "3a321668.1f3bda"
            ]
        ]
    },
    {
        "id": "88de9bc0.849fe8",
        "type": "debug",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 667,
        "wires": []
    },
    {
        "id": "8cd3a258.e78fd",
        "type": "debug",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.main.temp",
        "targetType": "msg",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "3affee7e.aaab92",
        "type": "inject",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 587,
        "wires": [
            [
                "28375876.f61418"
            ]
        ]
    },
    {
        "id": "578341c4.072ab",
        "type": "debug",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.main.humidity",
        "targetType": "msg",
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "c60e3757.1f4e48",
        "type": "ui_gauge",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "group": "c644bb54.8486f8",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "wave",
        "title": "temperature ",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30602",
            "#dd0909",
            "#e2281f"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 940,
        "wires": []
    },
    {
        "id": "df9dd89c.423018",
        "type": "change",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 900,
        "wires": [
            [
                "c60e3757.1f4e48"
            ]
        ]
    },
    {
        "id": "3a321668.1f3bda",
        "type": "change",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rain.1h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1120,
        "wires": [
            [
                "653d0b25.7ab644"
            ]
        ]
    },
    {
        "id": "653d0b25.7ab644",
        "type": "ui_gauge",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "group": "c644bb54.8486f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Rain",
        "label": "1h",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#1c4799",
            "#e6e600",
            "#a457aa"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 1120,
        "wires": []
    },
    {
        "id": "71323624.ced6e8",
        "type": "debug",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "85ad9fd.29bcb6",
        "type": "debug",
        "z": "fa53fa3b.74b8a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 700,
        "y": 120,
        "wires": []
    }
]